body{
    margin: 0;
    font-family: 'Nunito', sans-serif;

}
.signn img {
    width: 25px;
    padding: 15px;
}

.new{
    width: 75.5%;
    margin-left: 15.5%;

}
.new h2{
    font-size: 30px;
}

.welcome {
    width: 80%;
    display: flex;
    align-items: flex-start;
    height: auto;
    justify-content: space-around;
}

.cards img{
    width: 100px;
    height: 100px;
}


.cards a {
    text-decoration: none;
    color: red;
    margin-left: 30%;
}
.cards h5, p {
    margin-left: 0%;
}

.signinup img{
    margin-left: 40%;
    height: 15px;
    width: 15px;
}

.cards{
    margin-left: 15%;
    border: solid 1px;
    width: auto;
    padding: 20px;
}


.d-flex {
    align-items: baseline;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards img {
    margin-left: 10%;
    margin-top: -5%;
}

.basket button{
    margin-top: 15px;
    background-color: #30810d;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid #ffffff;
    font-size: 20px;

}

.delivery{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-left: 25%;

}


.deliverysquare{
    width: 272px;
    height: 115px;
    background-color: #f1f1f1;
    margin-top: 10%;
    margin-left: -10%;
    text-align: center;
}

.deliverysquare p{
    margin-top: -5%;
}

.samopng{
    width: 100px;
    height: 100px;
}

.deliverypng{
    width: 150px;
    height: 100px;
}


.request{
    width: 80%;
    margin-left: 10%;
}

.request img{
    margin-left: 35% ;
}


.logout{
    margin-left: 30%;
}

.headers {
display: grid;
    justify-content: center;
}

.telephone img{
    width: 80px;
    height: 60px;
    margin-top: 20%;
    margin-left: -280%;
}

.number {
    margin-left: -300%;
    margin-top: 20%;
}

.square{
    width: 100%;
    height: 50px;
    margin-top: 2%;
    display: flex;
}

.sguareeee{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sguareeee a{
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.sguareeee a:hover {
    text-decoration: none;
    font-size: 22px;
    color: white;
    background-color: red;
    border-radius: 15px;
}

.time h3 {
    margin-top: -60%;
    margin-left: 15px;
}

.time img {
    width: 100px;
    height: 100px;
    margin-left: -80%;
}

.logo img{
    width: 300px;
    height: 120px;
    margin-left: -70%;
}

.img{
    margin-left: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

hr{
    margin-top: -10px;
}

.avto{
    margin-left: 10%;
}

select.form-select {
    border-radius: 10px;
    background-color: #000000;
    color: white;
    font-size: 18px;
    width: 200px;
    text-align: center;
    border: 1px solid #ffffff;
    height: 30px;
}

.sign a{
 text-decoration: none;

    color: black;
}

footer{
    width: 80%;
    margin-left: 17%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
}

.vk img{
    width: 70px;
    height: 70px;
    margin-left: 10%;
}

.footerclient a {
text-decoration: none;
    color: black;
    display: inline-block;
    margin: 7px;

}

.rub {
    line-height: 5px;
    width: 0.4em;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-left: 1%;
}


.cardtovar button {
    margin-top: 65px;
    background-color: blue;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid #ffffff;
    font-size: 20px;
}

.cardtovar img{
    width: 240px;
    height: 250px;
}


.card img{
    margin-left: 10%;
    width: 70%;
}

.location{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: 5%;
}
.cardtovar img {
    /* height: 50%; */
    margin-left: 30%;
    width: 22%;
    margin-top: 4%;
}

.m-2 {
    margin-left: 55%;
}

.m-2 h2 {
    margin-top: -45%;
}

.sorting{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin-left: 20%;
}

.sorting button {
    margin-top: 10px;
    background-color: blue;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid #ffffff;
    font-size: 20px;
    margin-left: 110%;
    border-radius: 15px;
}

.card{
    border: 1px solid #b7b7b7;
    padding: 10px;
    margin: 10px;
    text-align: center;

}

.passwordcart{
    margin-top: 10px;
}

.success{
    margin-left: 21%;
    margin-top: -10px;
}

.passwordcart button{
    margin-left: 210px;
}

.passwordcart input {
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px;
    margin-left: 20%;
}

.passwordcart label{
    margin-left: 16%;
}

.card button {
    margin-top: 10px;
    background-color: #188605;
    color: white;
    width: 150px;
    height: 30px;
    border: 1px solid #ffffff;
    font-size: 20px;
}

.tovar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin-left: 15%;

}

.login-page {
    width: 360px;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #e8e7e7;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

a{
    font-size: 20px;
}

.form::before{
    content: '';
    position: absolute;
    background-color:#cbcbcb65 ;
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
    border-radius: 15px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #af4c4c;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #a04343;
}
.form .message {
    margin: 15px 0 0;
    color: #000000;
    font-size: 20px;
}
.form .message a {
    color: #4c51af;
    text-decoration: none;
}


@media screen and (max-width: 1200px)
{
    .time h3 {
        margin-top: -45%;
        margin-left: -90px;
    }
    .logo img {
        width: 300px;
        height: 120px;
        margin-left: -90%;
    }
    .number {
        margin-left: -240%;
        margin-top: 20%;
    }
    .telephone img {
        width: 80px;
        height: 60px;
        margin-top: 20%;
        margin-left: -200%;
    }
    .time img {
        width: 100px;
        height: 100px;
        margin-left: -140%;
    }
    .img {
        margin-left: 35%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .sguareeee {
        width: 80%;
        margin-left: 14%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .tovar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin-left: 18%;

    }
}

@media screen and (max-width: 998px){
    .telephone img {
        width: 80px;
        height: 60px;
        margin-top: 20%;
        margin-left: -256%;
    }
    .number {
        margin-left: -300%;
        margin-top: 20%;
    }
    .number h2 {
        font-size: 20px;
    }
    .time h3 {
        margin-top: -65%;
        margin-left: -105px;
    }
    .time img {
        width: 100px;
        height: 100px;
        margin-left: -195%;
    }
    .logo img {
        width: 300px;
        height: 120px;
        margin-left: -83%;
    }
    .sign {
        margin-left: 37%;
    }
    .tovar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin-left: 15%;
    }
    .sign {
        margin-left: 30%;
    }
    .delivery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 20%;
    }
    .samopng {
        width: 100px;
        height: 100px;
        margin-left: 11%;
    }
    .deliverypng {
        width: 150px;
        height: 100px;
        margin-left: 5%;
    }
}

@media screen and (max-width: 768px){
    .telephone img {
        width: 68px;
        height: 55px;
        margin-top: 32%;
        margin-left: -260%;
    }
    .sign {
        margin-left: 18%;
    }
    hr {
        margin-top: 0px;
    }
    .logo img {
        width: 230px;
        height: 95px;
        margin-left: -83%;
    }
    .time img {
        width: 85px;
        height: 83px;
        margin-left: -195%;
    }
    .number h2 {
        font-size: 15px;
    }
    .number {
        margin-left: -280%;
        margin-top: 35%;
    }
    .time h3 {
        margin-top: -65%;
        margin-left: -75px;
        font-size: 14px;
    }
    .avto h4 {
        font-size: 14px;
    }
    .sign {
        margin-left: 25%;
    }
    .tovar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin-left: 8%;
    }
    .d-flex {
        align-items: baseline;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 576px){
    .avto h4 {
        font-size: 12px;
    }
    hr {
        margin-top: 0px;
    }
    a {
        font-size: 15px;
    }
    .telephone img {
        width: 53px;
        height: 45px;
        margin-top: 35%;
        margin-left: -260%;
    }
    .number {
        margin-left: -305%;
        margin-top: 32%;
    }
    .logo img {
        width: 145px;
        height: 66px;
        margin-left: -100%;
        margin-top: 7%;
    }
    .time img {
        width: 60px;
        height: 60px;
        margin-left: -204%;
    }
    .time h3 {
        margin-top: -65%;
        margin-left: -69px;
        font-size: 14px;
    }
    .sguareeee a {
        padding: 20px;
        text-decoration: none;
        font-size: 15px;
        color: #000;
    }
    .sorting {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        margin-left: 10%;
    }
    .tovar {
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
        margin-left: 20%;
    }
    .request img {
        margin-left: 14%;
    }
    .deliverysquare p {
        margin-top: -5%;
        font-size: 15px;
        margin-left: 2%;
    }
    .deliverypng {
        width: 110px;
        height: 76px;
        margin-left: 0%;
    }
    h3 {
        font-size: 12px;
    }
    .deliverysquare {
        width: 185px;
        height: 105px;
        background-color: #f1f1f1;
        margin-top: 10%;
        margin-left: -10%;
        text-align: center;
    }
    .samopng {
        width: 90px;
        height: 85px;
        margin-left: 10%;
    }
    .sign {
        margin-left: 9%;
    }
}
